{% extends 'base.html' %}
{% block content %}

<h1>Fertilizer List</h1>

{% for fertilizer in fertilizer_list %}
    <a href="{% url 'fertilizers_detail' fertilizer.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ fertilizer.name }}</span>
                <p>Date: {{ fertilizer.fertilize_date }}</p>
                <p>Frequency: {{ fertilizer.frequency }}</p>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}
