{% extends 'base.html' %}
{% block content %}

<center>
    <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_xsg73jmq.json"  
        background="transparent"  
        speed="1"  
        style="width: 300px; height: 300px; display: inline-block; position: relative;"  
        loop autoplay>
    </lottie-player>
</center>

<h1 class="center-align" style="color: #6d4c41">Fertilizer List</h1>

<div class="row">
    {% for fertilizer in fertilizer_list %}
        <div class="col s6 col-offset-3">
            <a href="{% url 'fertilizers_detail' fertilizer.id %}">
                <div class="card hoverable">
                    <div class="card-content" style="background-color: #FFFDE7">
                        <span class="card-title">{{ fertilizer.name }}</span>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}