{% extends 'base.html' %}
{% block content %}

<center>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_prkjnzba.json"  
        background="transparent"  
        speed="1"  
        style="width: 300px; height: 300px;"  
        loop autoplay>
    </lottie-player>
</center>

{% if object %}
    <h3 class="center-align" style="color: #6d4c41">Edit <span style="color: #0288d1">{{object.name}}</span></h1>
{% else %}
    <h1 class="center-align" style="color: #6d4c41">Add a Fertilizer</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button class="btn-floating waves-effect waves-light" type="submit">
        <i class="material-icons right">add</i>
    </button> 
    <span style="font-weight: 500;">Submit</span>
</form>

{% endblock %}