{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1 class="display-1">Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
    <h1 class="display-1">Add a Fertilizer</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
        <input type="submit" value="Submit!" class="btn">
        {% comment %} <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</form>

{% endblock %}