{% extends 'base.html' %}
{% block content %}

<center>
    <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_uzc6bf9z.json"  
            background="transparent"  
            speed="1"  
            style="width: 300px; height: 300px;"  
            loop autoplay>
        </lottie-player> 
    <h1 class="center-align" style="color: #6d4c41">Delete Fertilizer</h1>

    <h4>Are you sure you want to delete <span style="color: #0288d1">{{ object.name }}</span>?</h4>

    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
            <span>Delete</span>
        <a class="btn-floating waves-effect waves-light" href="{% url 'fertilizers_detail' object.id %}"><i class="material-icons">cancel</i></a>
            <span>Cancel</span>
    </form>
</center>

{% endblock %}