{% extends 'base.html' %}
{% block content %}

<h1 style="color: #6d4c41">Fertilizer Details</h1>
    <div class="row">
        <div class="col s6 col-offset-3">
            <div class="card hoverable">
                <div class="card-content" style="background-color: #FFFDE7">
                    <span class="card-title" style="color: #0288d1">{{ fertilizer.name }}</span>
                </div>
                <div class="card-action">
                    <a class="btn-floating waves-effect waves-light orange" href="{% url 'fertilizers_update' fertilizer.id %}"><i class="material-icons">edit</i></a>
                    <span>Edit</span>
                    <a class="btn-floating waves-effect waves-light red" href="{% url 'fertilizers_delete' fertilizer.id %}"><i class="material-icons">delete</i></a>
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}