{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1 style="color: #6d4c41">Edit <span style="color: #0288d1">{{object.name}}</span></h1>
{% else %}
    <h1 style="color: #6d4c41">Add a Plant</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button class="btn-floating waves-effect waves-light" type="submit">
        <i class="material-icons right">add</i>
    </button> 
    <span>Submit</span>
</form>

<script>
    const dateEl = document.getElementById('id_adoption_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        autoClose: true
    });
</script>

{% endblock %}