{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
    <h1 class="display-1">Add a Plant</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
        <div class="container-sm text-right align-middle">
            {{ form.as_table }}
        </div>
    <input type="submit" value="Submit!" class="btn">
</form>

<script>
    const dateEl = document.getElementById('id_adoption_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        autoClose: true
    });
</script>

{% endblock %}