{% extends 'base.html' %}
{% block content %}

<h1 class="center-align" style="color: #6d4c41; font-weight: 900; font-family: 'Italiana', serif;">My Plants</h1>

<div class="container">
    <div class="row">
        {% if user %}
            {% for plant in plants %}
                <div class="col s12 m6 l4">
                    <a href="{% url 'detail' plant.id %}">
                        <div class="card large hoverable" style="background-color: #FFFDE7">
                            <div class="card-content">
                                <span class="card-title" style="font-size: 2em; font-weight: 900; font-family: 'Italiana', serif;">{{ plant.name }}</span>
                                {% for photo in plant.photo_set.all %}
                                    <img class="responsive-img card-panel" src="{{photo.url}}" style="white-space: nowrap;">
                                {% empty %}
                                    <div class="card-panel teal-text center-align" style="font-size: 1.3em; font-weight: 900; font-family: 'Italiana', serif;">No Photos Uploaded</div>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <center style="margin-top: 5vmin;">
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_uMKwX0.json"  
                    background="transparent"  
                    speed="1"  
                    style="width: 300px; height: 300px;"  
                    loop autoplay>
                </lottie-player>
                <h3 class="center-align" style="color: #6d4c41;">You Have No PLants Yet! Please Add A Plant</h3>
            </center>
        {% endif %}
    </div>
</div>

{% endblock %}