{% extends 'base.html' %}
{% block content %}

<h1>My Plants</h1>

{% if user %}
    {% for plant in plants %}
        <a href="{% url 'detail' plant.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ plant.name }}</span>
                    {% for photo in plant.photo_set.all %}
                        <img class="responsive-img card-panel" src="{{photo.url}}">
                    {% empty %}
                        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                    {% endfor %}
                    <p>Plant Type: {{ plant.plant_type }}</p>
                    <p>Color: {{ plant.color }}</p>
                    <p>Sunlight: {{ plant.sunlight }}</p>
                    <p>Adoption Date: {{ plant.adoption_date }}</p>
                    <p>Notes: {{ plant.notes }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <h3>No PLants Yet! Please Add A Plant</h3>
{% endif %}

{% endblock %}