{% extends 'base.html' %}
{% block content %}

<center>
    <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_j4v2bg0q.json"  
        background="transparent"  
        speed="1"  
        style="width: 300px; height: 300px;"  
        loop autoplay>
    </lottie-player>

    <h1 class="center-align" style="color: #6d4c41; font-family: 'Italiana', serif;">About</h1>
</center>

<div style="color: #6d4c41">
    </br>
        <p class="flow-text" style="font-size: 1.5em"><strong style="font-size: 2em; color: #006064; font-family: 'Italiana', serif;">Green Thumbs Up</strong>
            is an app that does all kinds of cool stuff. You can add all your plants, their name, type, color, sunlight needs, and date you acquired them. 
            You can also keep track of their watering schedule by logging the date and frequency of when you watered them. 
            If you want to upload a photo of your plant using your mobile phone, you can simply just click choose a file in the Plant Details page 
            and it will ask you if you want to take a photo or choose from your photo libarary.
            Aside from being a plant care tracker, Green Thumbs Up is also a community. 
            In the Community Plants section, you will see all the plants of all the app users.
        </p>
</div>
</br>
</br>
</br>
<div style="color: #6D4C41">
        <div class="center-align">Designed and Developed by Team <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em; vertical-align: -2px;">BMR</strong>:  
            <p>
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">B</strong>ob Lembke, 
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">M</strong>elanie Francisco, 
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">R</strong>uben A. da Silva
            </p>
        </div>
    </br>
        <div class="center-align">
            Customer Support: 
        </br>
            <a href="https://youtu.be/6WTdTwcmxyo">jenny@support.greenthumbsup.app</a>
            <p>+1-555-867-5309</p>
        </div>
</div>

{% endblock %}