{% extends 'base.html' %}
{% block content %}

<h1 class="center-align" style="color: #6d4c41; font-family: 'Italiana', serif;">About</h1>

&emsp;&emsp;<h4 style="color: #006064; font-family: 'Italiana', serif;">Green Thumbs Up</h4>
<div style="color: #6d4c41">
    </br>
        <p><strong style="font-size: 1.5em; font-family: 'Roboto', sans-serif;">Heading</strong>
            is an app that does all kinds of cool stuff like sharing plants taking pictures of plant watering plants fertilize plants and a bunch of other stuff and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here 
        </p>
    </br>
        <p><strong style="font-size: 1.5em; font-family: 'Roboto', sans-serif;">Heading</strong>
            is an app that does all kinds of cool stuff like sharing plants taking pictures of plant watering plants fertilize plants and a bunch of other stuff and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here 
        </p>
    </br>
        <p><strong style="font-size: 1.5em; font-family: 'Roboto', sans-serif;">Heading</strong>
            is an app that does all kinds of cool stuff like sharing plants taking pictures of plant watering plants fertilize plants and a bunch of other stuff and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here 
        </p>
    </br>
    <p><strong style="font-size: 1.5em; font-family: 'Roboto', sans-serif;">Heading</strong>
        is an app that does all kinds of cool stuff like sharing plants taking pictures of plant watering plants fertilize plants and a bunch of other stuff and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here and more lines of text here 
    </p>
</div>
</br>
</br>
</br>
<div style="color: #6D4C41">
        <div class="center-align">Designed and Developed by Team <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em; vertical-align: -2px;">BMR</strong>:  
            <p>
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">B</strong>ob Lembke, 
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">M</strong>elanie Francisco, 
                <strong style="color: #18FFFF; text-shadow: 1px 1px 2px #000; font-size: 1.5em;">R</strong>uben A. da Silva
            </p>
        </div>
    </br>
        <div class="center-align">
            Customer Support: 
            <p>+1-555-867-5309</p>
        </div>
</div>

{% endblock %}