{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Thumbs Up</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9c55a8de8f.js" crossorigin="anonymous"></script>
</head>
<body>
    {% comment %} <header class="navbar-fixed"> {% endcomment %}
        {% comment %} <nav class="nav-wrapper"> {% endcomment %}
                    <header>
                        <nav class="navbar navbar-light green lighten-4 mb-4">
                            <!-- Navbar brand -->
                            <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
                            <!-- Collapse button -->
                            <button class="navbar-toggler toggler-example aqua-gradient collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent43" aria-controls="navbarSupportedContent43" aria-expanded="false"
                            aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span></button>
                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent43">
                            <!-- Links -->
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'my_plants' %}">My Plants</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'plants_create' %}">Add a Plant</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'fertilizers_create' %}">Add a Fertilizer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'fertilizers_index' %}">View All Fertilizers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'profiles_create' %}">Add a Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'profile' user.profile.id %}">My Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </nav>

                {% comment %} Fullscreen HTML Structure {% endcomment %}
                {% comment %}<ul id="slide-out" class="sidenav">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">View All Plants</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'my_plants' %}">My Plants</a></li>
                        <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                        <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                        <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                        <li><a href="{% url 'profiles_create' %}">Add A Profile</a></li>
                        {% comment %} <li><a href="{% url 'user_profile' %}">My Profile</a></li> {% endcomment %}
                        {% comment %} <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

            {% comment %} original base.html {% endcomment %}
            {% comment %} <div class="container">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Green Thumbs Up</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">View All Plants</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'my_plants' %}">My Plants</a></li>
                        <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                        <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                        <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                        <li><a href="{% url 'profiles_create' %}">Add A Profile</a></li>
                        {% comment %} <li><a href="{% url 'profile' user.profile.id %}">My Profile</a></li> {% endcomment %}
                        {% comment %} <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        
                {% comment %} Sidenav {% endcomment %}
                {% comment %} <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                            <div class="background">
                                <img src="images/office.jpg">
                            </div>
                        <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div></li>
                        <li><a href="{% url 'home' %}"><i class="material-icons">cloud</i>Home Link With Icon</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'index' %}">View All Plants</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'my_plants' %}">My Plants</a></li>
                            <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                            <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                            <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                            <li><a href="{% url 'profiles_create' %}">Add A Profile</a></li>
                            {% comment %} <li><a href="{% url 'user_profile' %}">My Profile</a></li> {% endcomment %}
                            {% comment %}<li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                        <li><div class="divider"></div></li>
                        <li><a class="subheader">Subheader</a></li>
                        <li><a class="waves-effect" href="{% url 'home' %}">Home Link With Waves</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


                {% comment %} Close Trigger {% endcomment %}
                {% comment %} <ul id="slide-out" class="sidenav">
                    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


                {% comment %} Dropdown HTML Structure {% endcomment %}
                {% comment %} <ul id="slide-out" class="sidenav">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">View All Plants</a></li>
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li>
                          <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                          <div class="collapsible-body">
                            <ul>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'index' %}">View All Plants</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'my_plants' %}">My Plants</a></li>
                                    <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                                    <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                                    <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                                    <li><a href="{% url 'profiles_create' %}">Add A Profile</a></li>
                                    {% comment %} <li><a href="{% url 'user_profile' %}">My Profile</a></li> {% endcomment %}
                                    {% comment %} <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                    <li><a href="{% url 'login' %}">Log In</a></li>
                                {% endif %}
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">View All Plants</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'index' %}">View All Plants</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'my_plants' %}">My Plants</a></li>
                            <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                            <li><a href="{% url 'fertilizers_create' %}">Add a Fertilizer</a></li>
                            <li><a href="{% url 'fertilizers_index' %}">View All Fertilizers</a></li>
                            <li><a href="{% url 'profiles_create' %}">Add A Profile</a></li>
                            {% comment %} <li><a href="{% url 'user_profile' %}">My Profile</a></li> {% endcomment %}
                            {% comment %} <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                  </ul>
                  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
                  
{% endcomment %}


    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="row">
            <div class="col s12">
                <div class="right">All Rights Reserved, &copy; 2022 Team BMR &nbsp;</div>
            </div>
        </div>   
    </footer>
</body>
</html>