{% extends 'base.html' %}
{% block content %}

<h1>All Community Plants</h1>

{% for plant in plants %}
    {% comment %} <a href="{% url 'detail' plant.id %}"> {% endcomment %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ plant.name }}</span>
                {% for photo in plant.photo_set.all %}
                    <img class="responsive-img card-panel" src="{{photo.url}}">
                {% empty %}
                    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
                <p>Plant Type: {{ plant.plant_type }}</p>
                <p>Color: {{ plant.color }}</p>
                <p>Sunlight: {{ plant.sunlight }}</p>
                <p>Adoption Date: {{ plant.adoption_date }}</p>
                <p>Notes: {{ plant.notes }}</p>
                {% if plant.user != user %}
                    <p>Contributed by {{ plant.user }}</p>
                {% else %}
                    <p>Green Thumbs Up!</p>
                {% endif %}
            </div>
        </div>
    {% comment %} </a> {% endcomment %}
{% endfor %}

{% endblock %}
